%br/
.footer-top.bg-blue
  .row.property
    .large-4.columns
      .property-info
        %h3
          %a{href: "http://discite.info/"} Discite
        %p
          Discite is peer-to-peer learning social network, with support from
          %a{href: "http://ceata.org"} Fundația Ceata
    .large-8.columns
      .row.collapse
        .large-4.columns
          .learn-links
            %h4.hide-for-small Want More?
            %ul
              %li
                %a{href: "http://zurb.com/university/foundation-intro"} Foundation Training
              %li
                %a{href: "http://zurb.com/university/custom"} Responsive
              %li
                %a{href: "http://zurb.com/studios/our-work"} Our Work
              %li
                %a{href: "http://zurb.com/apps"} ZURB Apps
        .large-4.columns
          .support-links
            %h4.hide-for-small Contact us!
            %p
              Chat with us on IRC, on
              %strong freenode, #ceata
            %p
              Not into IRC? Not a problem, find us on
              %a{href: "mailto:discite@ceata.org"} discite@ceata.org
        .large-4.columns
          .connect-links
            %h4.hide-for-small Stay in touch
            %p Find the lastest releases on Gitorious.
            %a.small.button{href: "https://gitorious.org/discite/discite", target: "_blank"} Stay Connected
.zurb-footer-bottom
  .row
    .large-4.push-8.columns
      %ul.home-social
        %li
          %a.twitter{href: "http://www.twitter.com/ZURB"}
        %li
          %a.facebook{href: "http://www.facebook.com/ZURB"}
        %li
          %a.mail{href: "http://zurb.com/contact"}
    .large-8.pull-4.columns
      %a.zurb-logo.regular{href: "http://www.zurb.com"}
      %ul.zurb-links
        %li
          %a{href: "http://zurb.com/about"} About
        %li
          %a{href: "http://zurb.com/blog"} Blog
        %li
          %a{href: "http://zurb.com/news"}
            News
            %span.show-for-medium-up & Events
        %li
          %a{href: "http://zurb.com/contact"} Contact
        %li
          %a{href: "http://zurb.com/sitemap"} Sitemap
      %p
        %img{alt: "Creative Commons License", src: "/80x15.png", style: "border-width:0"}/
        %a{href: "http://creativecommons.org/licenses/by-sa/3.0/deed.en_US", rel: "license"} Creative Commons Attribution-ShareAlike 3.0 Unported License
