%footer.zurb-footer-top.bg-blue
  .row.property
    .large-4.columns
      .property-info
        %h3.hide-for-small About
        %p
          Discite is peer-to-peer learning social network, with support from
          %a{href: "http://ceata.org"} Fundația Ceata
    .large-8.columns
      .row.collapse
        .large-4.columns
          .support-links
            %h4.hide-for-small Contact us!
            %p
              Chat with us on IRC, on
              %strong freenode, #discite
            %p
              Not into IRC? Not a problem, find us on
              %a{href: "mailto:discite@ceata.org"} discite@ceata.org
        .large-4.columns
          .connect-links
            %h4.hide-for-small Stay in touch
            %p Find the lastest releases on Gitorious.
            %a.small.button{href: "https://gitorious.org/discite/discite", target: "_blank"} Use the Source, Luke!
        .large-4.columns
          .learn-links
            %h4.hide-for-small More
            %ul
              %li
                %a{href: "http://blog.discite.info"} Blog
              %li
                %a{href: "authors.html"} Authors
              %li
                %a{href: "terms.html"} Terms of Use
              %li
                %a{href: "help.html"} Help
  .row{style: "text-align:center"}
    All content is licensed under
    %em Creative Commons Attribution-ShareAlike 4.0 International License
    %a{href: "http://creativecommons.org/licenses/by-sa/4.0/", rel: "license"}
      = image_tag( "80x15.png", style: "border-width:0", alt: "Creative Commons License" )
