%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        = link_to "Osmosis", root_path
  %section.top-bar-section
    %ul.right
      %li.divider
      %li
        = link_to "Sign In", new_user_session_path
      %li.divider
      %li
        = link_to "Register", new_user_registration_path
