.slideshow-wrapper
  .preloader
  %ul{"data-orbit" => ""}
    %li
      %img{src: "/slider/1.jpg"}
      .orbit-caption "Some text here, probably
    %li
      %img{src: "/slider/2.jpg"}
      .orbit-caption "Some other stuff"

%i.fi-die-six
%i.fi-plus

