%script{src: "https://www.webrtc-experiment.com/socket.io.js"} :cdata
%script{src: "https://www.webrtc-experiment.com/RTCPeerConnection-v1.5.js"} :cdata
%script{src: "https://www.webrtc-experiment.com/webrtc-broadcasting/broadcast.js"} :cdata
%select#broadcasting-option
  %option Audio + Video
  %option Only Audio
  %option Screen
%button#setup-new-broadcast.button Start Broadcasting
%table#rooms-list{style: "width: 100%;"}
#videos-container
